body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
.oranage-color{
    color: orange;
}
section{
    display: flex;
}
.helf-width{
    width: 50%;

}
.helf-width image {
    width: 80%;
}
.hire-me-button {
    text-decoration: none;
    background-image: linear-gradient(orange,tomato );
    padding: 10px 40px;
    color: white;
}